.experience-wrapper {
    background-color: $darker-blue;
    min-height: 100vh;
    overflow: hidden;
}

.experience-content-wrapper {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}

.arrow-bottom {
  width: 90vw;
  padding: 0.75vh 0 0 10vw;
}

.hexagon-top {
  width: 35vw;
  padding-bottom: 0.75vh;
}