.featured-project-title {
    margin-bottom: 0;
}

.featured-project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80vw;
}

.featured-projects-image {
    width: inherit;
}

.featured-projects-name {
    width: inherit;
    background-color: $yellow;
    color: $dark-blue;
    padding: 1vh 1vw;
    margin: 0;
}

.featured-project-body-text{
    margin-bottom: 0;
}
