html {
    width: 100%;
    font-size: 62.5%;
    position: absolute;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Karantina";
    font-size: $m-size;
    font-weight: 300;
    color: $mint;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: $yellow;
    font-size: $xxl-size;
    font-weight: 400;
    margin: 0;
}

h2 {
    color: $mint;
    font-size: $l-size;
    font-weight: 400;
}

p {
    font-size: $title;
}

.modal-open {
    overflow: hidden;
    margin-left: -0.5vw;
}

.content {
    z-index: -1;
}

a, button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

input:focus::placeholder {
    color: transparent;
}

//large tablets
@media (min-width:800px) {
    h2 {
        font-size: 3rem;
    }
}

// PC
@media (min-width: 1280px) {
    h2 {
        font-size: $title;
    }
}
    