//colour variables
$dark-blue: #393E46;
$yellow: #FACF39;
$mint: #C9EDDC;

//spacing variables
$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$mobile-title: 2rem;
$title: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4.5rem;
$xxl-size: 5rem;

//font style variables
$title-font: 'Raleway', sans-serif;
$title-weight: 400;
$body-font: 'Montserrat', sans-serif;
$body-weight: 300;

//device variables
$desktop-breakpoint: 45rem;