.contact-wrapper {
    background-color: #393E46;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20vw;
    text-align: center;
    overflow: hidden;
}

.contact-content-wrapper {
    padding: 10vh 0;
}

.contact-text-wrapper {
    padding-bottom: 5vh;
}

.contact-button{
    padding: 1vh 6vw;
    color: $dark-blue;
    background-color: $yellow;
    font-weight: 400;
    font-size: $l-size;
    border: 1px solid $yellow;
    margin-top: 3vh;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    text-decoration: none;
}

.contact-button:hover {
    color: $mint;
    background-color: $dark-blue;
    border: 1px solid $mint;
}

.lines {
    width: 100vw;
}

@media  (min-width: 1280px) {
    .contact-wrapper {
        min-height: 88vh;
    }

    .contact-content-wrapper {
        padding: 5vh 0;
    }

    .lines {
        padding-top: 5vh;
        height: 20vh;
    }

    .up-arrow {
        width: 4vh;
        padding-top: 4vh;
    }
}