.header {
    display: flex;
    justify-content: center;
    background-color: $dark-blue;
    background-clip: padding-box;
    z-index: 2;
    width: 80vw;
    height: 10vh;
    border-bottom: 3px solid $yellow;
    padding: 0 10vw;
}

.header__border {
    border-bottom: 3px solid $yellow;
}

.header__container, .header__content-section, .header__content-section__site-link-wrapper
{
    display: flex;
    flex-direction: row;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    font-size: $l-size;
}

.header__logo {
    height: 7vh;
    cursor: pointer;
}


////////// CONTENT SECTION

.header__content-section__site-link {
    padding: $s-size;
    margin: 0 $xs-size;
    letter-spacing: $xs-size;
    font-weight: 400;
}

.header__content-section {
    justify-content: space-between;
}

.header__content-section__site-link-wrapper {
    padding: 0 $l-size;
    justify-content: space-around;
    align-items: center;
}

.header__content-section__site-link {
    text-decoration: none;
    color: $yellow;
    transition: color 0.2s ease-in-out;
}

.header__content-section__site-link:hover {
    color: $yellow;
}

.site-link-active {
    color: $dark-blue;
    background-color: $yellow;
    border: 1px solid $yellow;
}

.site-link-active:hover {
    color:$mint;
    background-color: $dark-blue;
    border: 1px solid $mint;
}

.header-cv {
    color: $dark-blue;
    background-color: $yellow;
    border: 1px solid $yellow;
}

.header-cv:hover {
    color: $mint;
    background-color: $dark-blue;
    border: 1px solid $mint;
}