.projects-wrapper {
    background-color: #393E46;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw 5vh 10vw;
  }

.projects-title-wrapper {
  padding-bottom: 2vh;
}

.project-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}