.mobile-menu-wrapper {
    width: 10vw;
    height: 10vh;
    position: fixed;
    right:0;
    top:0;
    z-index: 2;
}

.mobile-menu__wrapper-open {
    width: 100%;
    height: 100vh;
    position: fixed;
    right:0;
    top:0;
    z-index: 2;
}

.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2vw;
    width: 6vw;
    z-index: 3;
}

.menu-close {
    display: none;
}

.menu-list__wrapper {
    height: inherit;
}

.menu__site-icon {
    width: 35vw;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: $m-size;
}

.menu-list {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
}

.menu-option {
    padding: 2%;
    margin: 2% 0;
    display: flex;
    align-items: center;
}

.menu-link {
    color: $mint;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    font-weight: $title-weight;
    width: 30vw;
}

.menu-link__active {
    color: $yellow;
}

.currentSection {
    background-color: $yellow;
}

.open-cv {
    color: $dark-blue;
    background-color: $mint;
    border: 1px solid $mint;
    padding: 2vw;
}

.mobile-social__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 100%;
    padding-top: 2.5vh;
}

.mobile-social {
    width: 10vw;
    padding: 0 1vw;
}

.mobile-git__wrapper, .mobile-linkedin__wrapper{
    z-index: 0;
}