.footer-wrapper {
    background-color: $yellow;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    padding: 0 10vw;
}

.site-logo{
    width: 25vw;
}

.footer-signature-wrapper {
    color: $dark-blue;
    text-align: end;
}

.footer-text {
    margin: 0;
    font-size: $s-size;
    font-weight: bold;
}

@media  (min-width: 1280px) {
    .footer-wrapper {
        min-height: 12vh;
    }

    .site-logo{
        width: 5vw;
    }

    .footer-text {
        font-size: $m-size;
    }
}